
.App {
  width: 100%;
}

.DatePicker[data-v-54ec0e2b] {
  position: relative;
  display: inline-block;
  font-size: 12px;
  z-index: 99999;
}
.DatePicker .calender-panel[data-v-54ec0e2b] {
  position: absolute;
  left: 0;
  top: 120%;
  width: 240px;
  background: white;
  border-radius: 4px;
  border: 1px solid #e9e9e9;
  box-shadow: 0 0 10px #e9e9e9;
  z-index: 99999;
}
.DatePicker .calender-panel .calender-heading[data-v-54ec0e2b] {
  position: relative;
  padding: 6px 8px;
  border-bottom: 1px solid #e9e9e9;
  overflow: hidden;
}
.DatePicker .calender-panel .calender-heading .calender-input[data-v-54ec0e2b] {
  box-sizing: border-box;
  height: 28px;
  line-height: 28px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid lightgrey;
  outline: none;
}
.DatePicker .calender-panel .calender-heading .calender-input[data-v-54ec0e2b]:focus {
  border: 1px solid #20a0ff;
}
.DatePicker .calender-panel .calender-heading .calender-left[data-v-54ec0e2b],
.DatePicker .calender-panel .calender-heading .calender-right[data-v-54ec0e2b] {
  float: left;
  width: 10%;
  height: 28px;
  line-height: 28px;
}
.DatePicker .calender-panel .calender-heading .calender-left i[data-v-54ec0e2b],
.DatePicker .calender-panel .calender-heading .calender-right i[data-v-54ec0e2b] {
  height: 100%;
  line-height: 28px;
  font-size: 20px;
  cursor: pointer;
}
.DatePicker .calender-panel .calender-heading .calender-middle[data-v-54ec0e2b] {
  float: left;
  width: 80%;
  text-align: center;
}
.DatePicker .calender-panel .calender-body[data-v-54ec0e2b] {
  padding: 6px 8px;
  border-bottom: 1px solid #e9e9e9;
}
.DatePicker .calender-panel .calender-body .calender-table[data-v-54ec0e2b] {
  width: 100%;
  margin: 0;
  border: none;
}
.DatePicker .calender-panel .calender-body .calender-table th[data-v-54ec0e2b] {
  border: none;
}
.DatePicker .calender-panel .calender-body .calender-table th[data-v-54ec0e2b],
.DatePicker .calender-panel .calender-body .calender-table td[data-v-54ec0e2b] {
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
}
.DatePicker .calender-panel .calender-body .calender-table td[data-v-54ec0e2b] {
  cursor: pointer;
}
.DatePicker .calender-panel .calender-body .calender-table td[data-v-54ec0e2b]:hover {
  background: #eff2f7;
}
.DatePicker .calender-panel .calender-footer[data-v-54ec0e2b] {
  padding: 6px 8px;
}
.DatePicker .calender-panel .calender-footer .calender-btn[data-v-54ec0e2b] {
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid #e9e9e9;
  cursor: pointer;
}

.Slider-666 {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 20px;
  padding: 0 10px;
}
.Slider-666 .innner-666 {
  position: relative;
  width: 100%;
  height: 100%;
}
.Slider-666 .innner-666 .bar-666 {
  width: 100%;
  height: 4px;
  background: #bfcbd9;
  border-radius: 2px;
}
.Slider-666 .innner-666 .tooltip-wrapper {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: -40px;
}
.Slider-666 .innner-666 .tooltip-wrapper .tooltip-666 {
  position: absolute;
  left: 0;
  top: 0;
  /*box-sizing: border-box;*/
  /*width: 100%;*/
  padding: 5px 10px;
  background: black;
  color: white;
  border-radius: 5px;
  white-space: nowrap;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 999;
}
.Slider-666 .innner-666 .tooltip-wrapper .tooltip-666::after {
  position: absolute;
  left: 50%;
  top: 100%;
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  margin-left: -5px;
}
.Slider-666 .innner-666 .btn-wrapper-666 {
  position: absolute;
  left: 0;
  top: 50%;
  width: 1px;
  height: 1px;
}
.Slider-666 .innner-666 .btn-wrapper-666 .btn-666 {
  position: absolute;
  left: -10px;
  top: -10px;
  width: 20px;
  height: 20px;
  border-radius: 1000px;
  background: #20a0ff;
  cursor: grab;
  cursor: -webkit-grab;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.3s;
}
.Slider-666 .innner-666 .btn-wrapper-666 .btn-666.active {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.Slider-666 .innner-666 .btn-wrapper-666 .btn-666.disabled {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  background: #bfcbd9;
}
/*@pink: #e91e63;*/
* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
* :focus {
  outline: none;
}
html {
  font-family: 'Microsoft Yahei';
}
ul,
li {
  list-style: none;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
.mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
}
.angulur .navbar {
  background: #4F52BA;
  color: white;
  border-radius: 0;
  border: none;
}
.angulur .navbar .navbar-header a {
  color: white;
}
.angulur .navbar .nav li a {
  background: transparent;
  color: white;
}
.angulur .navbar .nav li a:hover {
  background: #6164C1;
}
.angulur .navbar .nav li a:active {
  background: #6164C1;
}
.angulur .navbar .navbar-menu {
  border: none;
  background: #6164C1;
}
.angulur .navbar .navbar-menu a {
  color: white;
}
.angulur .panel-default {
  border-radius: 0;
  border-color: #4F52BA;
}
.angulur .panel-default .panel-heading {
  border-radius: 0;
  color: white;
  background: #4F52BA;
}
.clearfix {
  clear: both;
}
/* Media Queries */
/*
0 767
*/
@media (max-width: 767px) {
  .panel.panel-full-sm {
    border-left: none;
    border-right: none;
    margin-left: -15px;
    margin-right: -15px;
  }
}
@media (max-width: 991px) {
  .panel.panel-full-md {
    border-left: none;
    border-right: none;
    margin-left: -15px;
    margin-right: -15px;
  }
}
.card {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 20px;
  background: white;
}
.card .card-heading {
  padding: 10px 15px;
  font-weight: bold;
}
.card .card-body {
  padding: 10px 15px;
}
.card .card-body:nth-child(1) {
  border-top: none;
}
.card .card-item {
  padding: 10px 15px;
  overflow: hidden;
}
.card .card-item:nth-child(1) {
  border-top: none;
}
.panel-container {
  margin-bottom: 20px;
}
.panel .panel-heading {
  font-weight: bold;
}
.card {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 20px;
  background: white;
}
.ls-group .ls-group-heading {
  padding: 10px 0;
  font-weight: bold;
}
.ls-group .ls-group-item {
  padding: 10px 0;
  border-top: 1px solid grey;
}
.ls-group .ls-group-item:nth-child(1) {
  border-top: none!important;
}
.blue .color-text {
  color: #d2d2d2;
}
.blue p,
.blue h1,
.blue h2,
.blue h3,
.blue h4,
.blue h5 {
  color: #d2d2d2;
}
.blue pre {
  background: rgba(51, 51, 51, 0.3);
  border: none;
  color: #d2d2d2;
}
.blue blockquote {
  background: rgba(51, 51, 51, 0.3);
  border-left: 5px solid rgba(51, 51, 51, 0.3);
}
.blue .breadcrumb {
  background: rgba(51, 51, 51, 0.3);
}
.blue .badge {
  background: rgba(51, 51, 51, 0.3);
}
.blue .border-bottom {
  border-bottom: 1px solid rgba(51, 51, 51, 0.3);
}
.blue .bg {
  background: radial-gradient(10% 0, farthest-side ellipse, #154265 20%, #7392c2);
  background: linear-gradient(to right, #154265 20%, #7392c2);
  background: #154265 20%;
}
.blue .navbar .navbar-header a {
  color: white;
}
.blue .navbar .navbar-header .navbar-toggle {
  color: white;
}
.blue .navbar .navbar-header .navbar-toggle a {
  color: white;
}
.blue .navbar .navbar-nav li a {
  background: transparent;
  color: white;
}
.blue .navbar .navbar-nav li a:hover {
  background: rgba(0, 0, 0, 0.07);
}
.blue .navbar .navbar-nav li a:active {
  background: rgba(0, 0, 0, 0.07);
}
.blue .navbar .navbar-menu {
  background: #154265 20%;
}
.blue .navbar .navbar-menu a {
  color: white;
}
.blue footer {
  background: rgba(51, 51, 51, 0.3);
  color: white;
}
.blue .panel {
  border-radius: 0;
  background: rgba(51, 51, 51, 0.4);
  border-color: lightgrey;
  border: none;
  color: #d2d2d2;
}
.blue .panel .panel-heading {
  border-color: lightgrey;
}
.blue .panel-default .panel-heading {
  background: rgba(51, 51, 51, 0.3);
  border-color: rgba(51, 51, 51, 0.3);
  color: white;
}
.blue .card {
  background: rgba(51, 51, 51, 0.3);
}
.blue .ls-group .ls-group-heading {
  background: transparent;
  color: #d2d2d2;
}
.blue .ls-group .ls-group-item {
  border-color: rgba(51, 51, 51, 0.3);
}
.blue .list-group {
  background: transparent;
}
.blue .list-group a {
  color: #50acff;
}
.blue .list-group .list-group-item {
  background: transparent;
  border-color: rgba(51, 51, 51, 0.3);
}
.zhihu .color-text {
  color: black;
}
.zhihu a {
  color: #7a8599;
}
.zhihu a:active {
  text-decoration: none!important;
}
.zhihu pre {
  background: #ebeef5;
  border: none;
}
.zhihu blockquote {
  background: #ebeef5;
  border-left: 5px solid #6b7a8c;
  color: #6b7a8c;
}
.zhihu .bg {
  background: #F3F3F3;
}
.zhihu .navbar {
  background: white;
  border: none;
  border-bottom: 1px solid #f3f3f3;
  box-shadow: 0 1px 3px rgba(0, 37, 55, 0.1);
}
.zhihu .navbar .navbar-brand {
  color: #007fff;
}
.zhihu .navbar .navbar-menu {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 1px 3px rgba(0, 37, 55, 0.1);
}
.zhihu footer {
  border-top: 1px solid #f3f3f3;
  background: white;
  color: #7a8599;
}
.zhihu .panel {
  border-color: #f3f3f3;
  border-radius: 0;
}
.zhihu .panel .panel-heading {
  background: white;
  font-weight: bold;
  border-color: #f3f3f3;
  border-radius: 0;
}
.zhihu .card {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 20px;
  background: white;
}
.zhihu .card .card-heading {
  padding: 10px 15px;
  font-weight: bold;
  border-bottom: 1px solid #f3f3f3;
}
.zhihu .card .card-body {
  padding: 10px 15px;
  border-top: 1px solid #f3f3f3;
}
.zhihu .card .card-body:nth-child(1) {
  border-top: none;
}
.zhihu .card .card-item {
  padding: 10px 15px;
  border-top: 1px solid #f3f3f3;
  overflow: hidden;
}
.zhihu .card .card-item:nth-child(1) {
  border-top: none;
}
.zhihu .ls-group .ls-group-item {
  border-top: 1px solid #f3f3f3;
}
.zhihu .list-group {
  border-color: #f3f3f3;
}
.zhihu .list-group .list-group-item {
  border-color: #f3f3f3;
}
.zhihu .list-group .list-group-item a {
  text-decoration: none;
}
.zhihu .btn {
  background: #0f88eb;
  border-color: #0f88eb;
}
.zhihu .btn:active,
.zhihu .btn:hover {
  background: #0d79d1;
  border-color: #0d79d1;
}
.zhihu .Menu .tag-- {
  background: #007fff !important;
}
.github .color-text {
  color: white;
}
.github p,
.github h1,
.github h2,
.github h3,
.github h4,
.github h5 {
  color: #2f363d;
}
.github pre {
  background: rgba(51, 51, 51, 0.3);
  border: none;
  color: #2f363d;
}
.github blockquote {
  background: rgba(51, 51, 51, 0.3);
  border-left: 5px solid rgba(51, 51, 51, 0.3);
}
.github .bg {
  background: #fafbfc;
}
.github .navbar {
  background: #24292e;
  border-radius: 0;
  border: none;
}
.github .navbar .navbar-header a {
  color: white;
}
.github .navbar .navbar-header .navbar-toggle {
  color: white;
}
.github .navbar .navbar-header .navbar-toggle a {
  color: white;
}
.github .navbar .navbar-nav li a {
  background: transparent;
  color: white;
}
.github .navbar .navbar-nav li a:hover {
  background: rgba(0, 0, 0, 0.07);
}
.github .navbar .navbar-nav li a:active {
  background: rgba(0, 0, 0, 0.07);
}
.github .navbar .navbar-menu {
  background: rgba(36, 41, 46, 0.9);
}
.github .navbar .navbar-menu a {
  color: white;
}
.github .navbar .navbar-menu a:hover {
  background: #24292e;
}
.github footer {
  color: #959da5;
  border-top: 1px solid #d1d5da;
}
.github .panel {
  border-color: #e1e4e8;
  border-radius: 4px;
  color: black;
}
.github .panel .panel-heading {
  background: white;
  border-color: #e1e4e8;
  font-weight: bold;
}
.github .panel .panel-body {
  background: white;
  border-radius: 4px;
  color: black;
}
.github .panel .panel-body a {
  color: #0366d6;
}
.github .list-group {
  background: white;
  border-radius: 4px;
}
.github .list-group a {
  color: #0366d6;
}
.github .list-group .list-group-item {
  background: white;
  border-color: #e1e4e8;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.fade-in-enter-active {
  transition: opacity .5s;
}
.fade-in-enter {
  opacity: 0;
}
.slide-down-enter-active,
.slide-down-leave-active {
  transition-property: opacity,-webkit-transform;
  transition-property: opacity,transform;
  transition-property: opacity,transform,-webkit-transform;
  transition-duration: 200ms;
}
.slide-down-enter,
.slide-down-leave-to {
  -webkit-transform: translate3d(0, -5%, 0);
          transform: translate3d(0, -5%, 0);
  opacity: 0;
}
.scale-enter-active,
.scale-leave-active {
  transition-property: opacity,-webkit-transform;
  transition-property: opacity,transform;
  transition-property: opacity,transform,-webkit-transform;
  transition-duration: 400ms;
}
.scale-enter,
.scale-leave-to {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0;
}
/*@pink: #e91e63;*/
.Footer[data-v-2dce59a1] {
  padding: 12px 0;
  text-align: center;
  font-size: 14px;
  clear: both;
}

.bg[data-v-4f860d3b] {
  min-height: 100vh;
}
/*@pink: #e91e63;*/
.Navbar[data-v-66ff04d4] {
  position: relative;
  height: 50px;
  margin-bottom: 20px;
}
.Navbar .navbar[data-v-66ff04d4] {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 99;
}
.Navbar .navbar .navbar-header .navbar-toggle--[data-v-66ff04d4] {
  float: right;
  height: 50px;
  padding: 15px 20px 15px 15px;
}
.Navbar .box[data-v-66ff04d4] {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  z-index: 99;
}
.Navbar .hidden-one[data-v-66ff04d4] {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 30%;
}
.Navbar .navbar-menu .nav[data-v-66ff04d4] {
  float: left;
  width: 50%;
}
.Navbar .navbar-menu .nav i[data-v-66ff04d4] {
  width: 18px;
}
/*@pink: #e91e63;*/
.Menu[data-v-ae7bca36] {
  position: fixed;
  bottom: 50px;
  right: -200px;
  width: 200px;
  height: 400px;
  background: white;
  z-index: 999;
  transition: 300ms;
}
.Menu.active[data-v-ae7bca36] {
  right: 0;
}
.Menu .tag--[data-v-ae7bca36] {
  position: absolute;
  left: -20px;
  bottom: 20px;
  width: 20px;
  height: 44px;
  background: black;
}
/*@pink: #e91e63;*/
.News .pagination {
  display: table;
  margin: 0 auto;
}
.News .pagination a {
  cursor: pointer;
}
.News .list-group-item {
  position: relative;
  overflow: hidden;
}
.News .left-part {
  position: absolute;
  margin-right: 15px;
}
.News .left-part .avatar {
  width: 40px;
  border-radius: 1000px;
}
.News .middle-part {
  box-sizing: border-box;
  width: 100%;
  padding-left: 55px;
}
.News .middle-part .title-- {
  margin-bottom: 0px;
}
.News .middle-part .title-- a {
  display: inline-block;
  width: 82%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.News .right-part .cell {
  display: table-cell;
}
.News .right-part .cell .badge {
  vertical-align: middle;
}

.TabbedPanel777 .panel-heading span {
  margin-right: 15px;
  cursor: pointer;
}
.TabbedPanel777 .panel-heading span.active {
  color: #0f88eb;
}
.TabbedPanel777 .list-group {
  margin-bottom: 0;
}
/*@pink: #e91e63;*/
.Posts .panel-heading {
  vertical-align: middle;
}
.Posts .title {
  font-size: 22px;
}
.Posts .title a {
  text-decoration: none;
}

.DatePicker[data-v-79915ab6] {
  position: relative;
  width: 100%;
}
.DatePicker .panel[data-v-79915ab6] {
  position: absolute;
  left: 0;
  top: 120%;
  width: 300px;
  box-shadow: 0 0 20px lightgrey;
  z-index: 999;
}
.DatePicker .panel .panel-heading[data-v-79915ab6] {
  position: relative;
  overflow: hidden;
}
.DatePicker .panel .panel-heading .part-666[data-v-79915ab6] {
  width: 15%;
  height: 32px;
  line-height: 32px;
  float: left;
}
.DatePicker .panel .panel-heading .part-666 i[data-v-79915ab6] {
  height: 100%;
  line-height: 32px;
  font-size: 20px;
  cursor: pointer;
}
.DatePicker .panel .panel-heading .middle-666[data-v-79915ab6] {
  width: 70%;
}
.DatePicker .panel .panel-heading .middle-666 .form-inline[data-v-79915ab6] {
  display: table;
  margin: auto;
}
.DatePicker .panel .panel-heading .middle-666 input[data-v-79915ab6] {
  text-align: center;
}
.DatePicker .panel .panel-body table[data-v-79915ab6] {
  margin: 0;
  border: none;
}
.DatePicker .panel .panel-body table th[data-v-79915ab6] {
  border: none;
}
.DatePicker .panel .panel-body table th[data-v-79915ab6],
.DatePicker .panel .panel-body table td[data-v-79915ab6] {
  text-align: center;
}
.DatePicker .panel .panel-body table td[data-v-79915ab6] {
  cursor: pointer;
}
.DatePicker .panel .panel-body table td[data-v-79915ab6]:hover {
  background: #eff2f7;
}
/*@pink: #e91e63;*/
.Home .panel-heading span[data-v-7f7ff48e] {
  margin-right: 15px;
  cursor: pointer;
}
.Home .panel-heading span.active[data-v-7f7ff48e] {
  color: #0f88eb;
}
.Home .list-group-item .label-[data-v-7f7ff48e] {
  display: inline-block;
  width: 100px;
}
.Home .list-group-item .sum[data-v-7f7ff48e] {
  display: inline-block;
  text-align: right;
}
.Home .list-group-item .price-[data-v-7f7ff48e] {
  display: inline-block;
  width: 70px;
  color: orange;
}
.Home .list-group-item .percent[data-v-7f7ff48e] {
  display: inline-block;
  width: 46px;
  text-align: center;
}
/*@pink: #e91e63;*/
/*@pink: #e91e63;*/
.Projects .card .card-heading span[data-v-2fa9fa19] {
  margin-right: 15px;
}
/*@pink: #e91e63;*/
.RouteCanvas .title_ {
  padding: 15px 0;
  font-size: 24px;
  border-bottom: 1px solid #ddd;
}
.RouteCanvas .block {
  box-sizing: border-box;
  width: 100%;
  display: block;
  padding: 15px 0;
  font-size: 14px;
  line-height: 24px;
  color: #2c3e50;
}
.RouteCanvas .block p {
  margin: 10px 0;
}
/*@pink: #e91e63;*/
.Matrix {
  display: block;
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}
/*@pink: #e91e63;*/

.Post ul {
  padding-left: 15px;
}
.Post li {
  list-style: disc inside;
}
.Post .post_main {
  width: 800px;
  margin: auto;
}
.Post .post_main h1 {
  margin: 20px 0;
  font-size: 30px;
}
.Post .post_main h2 {
  margin: 15px 0;
  font-size: 24px;
}
.Post .post_main h3 {
  margin: 15px 0;
  font-size: 20px;
}
.Post .post_main p {
  margin: 10px 0;
}
.Post .post_main pre {
  box-sizing: border-box;
  padding: 15px;
  background: #ebf3fb;
}
.Post .post_main blockquote {
  box-sizing: border-box;
  padding: 0 15px;
  border-left: 5px solid #0f88eb;
  overflow: hidden;
  background: #ebf3fb;
}
@media (max-width: 1000px) {
.Post .post_main {
    width: 100%;
}
}

.Signin .signin_box {
  margin: auto;
}
.Signin .signin_box .btn {
  width: 100%;
}
/*@pink: #e91e63;*/
.RouteCnodePost .post-- img {
  max-width: 100%!important;
  margin: auto;
}
.RouteCnodePost .comments {
  border: none!important;
}
.RouteCnodePost .comments .card-item {
  overflow: hidden;
}
.RouteCnodePost .comments .card-item .avatar {
  float: left;
}
.RouteCnodePost .comments .card-item img {
  float: left;
  width: 40px;
  border-radius: 1000px;
}
.RouteCnodePost .comments .card-item .media-body span {
  margin-right: 15px;
}
.RouteCnodePost .comments .card-item .details {
  box-sizing: border-box;
  width: 100%;
  padding-left: 55px;
}
.RouteCnodePost .comments .card-item .details span {
  margin-right: 15px;
}

.Binance th[data-v-bd9c99de],
.Binance td[data-v-bd9c99de] {
  vertical-align: middle;
}
.Binance .min-30[data-v-bd9c99de] {
  min-height: 30px;
  line-height: 30px;
}

.RouteMall .item {
  display: inline-block;
}
.RouteMall img {
  width: 100%;
}

svg[data-v-e2f22a1c] {
  box-sizing: border-box;
  width: 100%;
}

.v-menu[data-v-03f608f6] {
  position: relative;
  background: #34485E;
  overflow: hidden;
}
.v-menu > li[data-v-03f608f6] {
  height: 50px;
  line-height: 50px;
  background: #34485E;
  border-bottom: 1px solid #324456;
  color: grey;
  cursor: pointer;
}
.v-menu > li a[data-v-03f608f6] {
  text-indent: 20px;
  text-decoration: none;
}
.v-menu > li:hover a[data-v-03f608f6] {
  color: white;
}
.menu > li:hover > p[data-v-03f608f6] {
  color: white;
}
.menu > li > p[data-v-03f608f6] {
  width: 140px;
  height: 60px;
  background: #34485E;
  line-height: 60px;
  font-size: 90%;
}
.menu .span-icon[data-v-03f608f6] {
  margin: 0 5px 0 10px;
}
.icon-arrow[data-v-03f608f6] {
  float: right;
  margin-right: 20px;
}
.menu .ulb[data-v-03f608f6] {
  width: 140px;
  display: none;
}
.menu .ulb > li[data-v-03f608f6] {
  background: #2C3E50;
}
.menu .ulb > li > p[data-v-03f608f6] {
  width: 140px;
  height: 40px;
  text-indent: 20px;
  line-height: 40px;
  font-size: 80%;
}
.menu .ulb > li:hover > p[data-v-03f608f6] {
  color: white;
}
.menu .ulc[data-v-03f608f6] {
  width: 140px;
  display: none;
}
.menu .ulc > li[data-v-03f608f6] {
  height: 25px;
  background: #1E2A38;
  font-size: 80%;
  line-height: 25px;
  text-indent: 40px;
}
.menu .ulc > li[data-v-03f608f6]:hover {
  color: white;
  background: #38A7F1;
}

.NavLeft[data-v-1524cd8c] {
  float: left;
  overflow: hidden;
  width: 200px;
  height: 100%;
  background: #1C2B36;
}
.NavLeft .first-container[data-v-1524cd8c] {
  width: 100%;
  max-height: 50px;
  overflow: hidden;
}
.NavLeft .first-container.active[data-v-1524cd8c] {
  max-height: 10000px;
}
.NavLeft .first-container a[data-v-1524cd8c] {
  box-sizing: border-box;
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  background: #1C2B36;
  color: #869fb1;
  cursor: pointer;
  text-decoration: none;
}
.NavLeft .first-container a[data-v-1524cd8c]:hover {
  color: white;
}
.NavLeft .first-container a i[data-v-1524cd8c] {
  height: 50px;
  line-height: 50px;
}
.NavLeft .first-container .second-container[data-v-1524cd8c] {
  background: black;
}
.NavLeft .first-container .second-container a[data-v-1524cd8c] {
  padding: 0 30px;
  background: black;
}

.Mask {
  display: table;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}
.Mask .cell {
  display: table-cell;
  vertical-align: middle;
}
.Mask .cell .Edit {
  width: 60%;
  margin: 0;
  margin: auto;
  overflow: scroll;
}
.Mask .cell .Edit .close {
  color: black;
  cursor: pointer;
}
.Mask .cell .Edit .panel-body {
  max-height: 60vh;
  overflow: scroll;
}
.Mask .cell .Edit .panel-footer .btn {
  margin-right: 10px;
}

.MyNavbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  z-index: 1000;
}
.MyNavbar a {
  color: white;
  text-decoration: none;
}

.Tip {
  position: fixed;
  top: 50px;
  right: 50px;
  z-index: 9999;
}

.RouteAdmin[data-v-690b9843] {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.RouteAdmin .main-part[data-v-690b9843] {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  margin-top: 50px;
  overflow: scroll;
}
.RouteAdmin .right-part[data-v-690b9843] {
  margin-left: 200px;
  height: 100vh;
  overflow: scroll;
}

.AdminDashboard[data-v-6434f0a7] {
  padding: 15px 0;
}

.AdminDeployment[data-v-a67932b0] {
  padding: 15px 0;
}

.RouteLowdb {
  padding: 15px 0;
}

.Management .table {
  background: white;
}
.Management .table thead th {
  font-weight: bold!important;
}
.Management .table tbody td {
  vertical-align: middle;
}
.Management ul,
.Management li {
  list-style: none!important;
}
.Management .manipulation .btn {
  margin-right: 10px;
}
.Management .item:hover {
  background: lightblue;
}
.Management .item.active {
  background: #d9edf7;
}

.TitleBar {
  padding: 20px;
  font-size: 24px;
  color: #58666e;
  background-color: #f6f8f8;
  border-bottom: 1px solid #dee5e7;
  margin-bottom: 15px;
}

.RouteSequelize[data-v-7a9c0b86] {
  padding-top: 15px;
}

.TableRoute[data-v-304f6735] {
  margin-left: 200px;
  overflow: hidden;
}
.TableRoute table[data-v-304f6735] {
  border-collapse: collapse;
  border: none;
  border-color: lightgrey;
  margin-top: 100px;
  margin-bottom: 100px;
}
.TableRoute table thead th[data-v-304f6735] {
  border-left: none;
  border-right: none;
}
.TableRoute table th[data-v-304f6735] {
  font-size: 14px;
  font-weight: normal;
  width: 200px;
  height: 30px;
}

.RouteGraphql {
  padding: 15px 0;
}

.route-crawler[data-v-d1f1f1b2] {
  padding: 20px;
}
