<!DOCTYPE html>

<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>MadSoap</title>
  <link href="/vendor/bootstrap/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/vendor/font-awesome-4.4.0/css/font-awesome.min.css"/>
  <!-- css bundle -->
</head>

<body>

  <!-- app -->

  <script type="text/javascript" src="/vendor/polyfill/es6-promise.auto.min.js"></script>
  <script type="text/javascript" src="/vendor/axios.min.js"></script>
  <script type="text/javascript" src="/vendor/vue2/vue.js"></script>
  <script type="text/javascript" src="/vendor/vue2/vuex.js"></script>
  <script type="text/javascript" src="/vendor/vue2/vue-router.min.js"></script>
  
  <!-- bundle -->
<script type="text/javascript" src="/static/main/assets/index.236410ebdf.js"></script></body>
</html>